.header {
  height: 10svh;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px 1px black;
}

.web-title {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
